**/__pycache__/
outputs/
corebehrt.egg-info/
.venv
venv/
.vscode/
.azure
azure_job_config.yaml
.azure_job_configs
.amlignore
**.amltmp
sandbox
/profiling
/tmp
corebehrt/main/create_data_profiling.py
**tmp**
linux_install/
.DS_Store
corebehrt/main_causal/helper_data/sks_trees/
mlruns/
results/
catboost_info/
debug/

experiments/causal_pipeline/generated_configs/
experiments/causal_pipeline/logs/

experiments/causal_pipeline_resample/generated_configs/
experiments/causal_pipeline_resample/logs/
**.claude
**.log