numpy==2.4.6
pandas==2.3.3
pyarrow==19.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
scikit-learn==1.9.0
setuptools==75.9.1
torch==2.8.0
tqdm==4.70.0
transformers==4.57.6
CausalEstimate==0.13.0
lightning==2.6.5
xgboost==3.2.0
betacal==1.1.0
matplotlib==3.11.1
seaborn==0.13.2
umap-learn==0.5.12
lifelines==0.30.3
catboost==1.2.10
optuna==4.9.0
