numpy==2.2.3
pandas==2.2.3
pyarrow==19.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
scikit-learn==1.6.1
setuptools==75.6.0
torch==2.5.1
tqdm==4.67.1
transformers==4.48.3
CausalEstimate==0.10.0
lightning==2.5.0.post0
xgboost==3.0.0
betacal==1.1.0
matplotlib==3.10.0
seaborn==0.13.2
umap-learn==0.5.9.post2
lifelines==0.30.0
catboost==1.2.8
optuna==4.5.0